
<div class="iapp-flip-item">
    <div class="iapp-people-index iapp-flip-front">
        <div class="iapp-index-close iapp-clickable">
            <img src="http://www.gannett-cdn.com/experiments/usatoday/2015/02/black-history/img/close.svg" alt="close">
        </div>
    </div>
    <div class="iapp-clip-index iapp-flip-back">
        <div class="iapp-index-back-close button iapp-button-small">
            <div class="iapp-button-text">BACK</div>
        </div>
        <div class="iapp-clip-container"></div>
    </div>
</div>