<div class="iapp-project-promo">
    <a href="<%=link_url%>" >
        <div class="iapp-person-image-wrap iapp-clickable">
            <img src="<%=link_image%>" alt="<%=link_text%>" class="iapp-person-item-img">
            <div class="iapp-person-more-video-button">
                See Project
            </div>
        </div>
    </a>
    <div class="iapp-person-text">
        <h3 class="iapp-person-name"><%=link_text%></h3>
        <p class="iapp-person-bio"><%=link_info%></p>
    </div>
</div>
