<div class="iapp-panel iapp-tag-sub1 active">
    <div class="iapp-button-small iapp-topics-back-button button">
        <div class="iapp-button-text">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 600 400" enable-background="new 0 0 600 400" xml:space="preserve">
            <polygon points="431.2,166.6 275.9,166.6 275.9,124.5 168.8,200 275.9,275.5 275.9,233.4 431.2,233.4 "/>
            </svg>
        </div>
        <div class="iapp-back-button-label">Back</div>
    </div>
    <div class="iapp-content-wrap">
        <h2 class="iapp-section-header iapp-panel-text-main"><%=tag_text%> <%=greeting%></h2>
        <div class="iapp-tag-container">
            
        </div>
    
        <div class="tags-next-button button iapp-button-large hide iapp-clickable">
            <div class="iapp-button-text">Next</div>
        </div>
    
    </div>
</div>

<div class="iapp-panel iapp-tag-intro upcoming">

    
</div>
