<div class="iapp-video-back-button button iapp-button-small">
    <div class="iapp-button-text">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 600 400" enable-background="new 0 0 600 400" xml:space="preserve">
        <polygon points="431.2,166.6 275.9,166.6 275.9,124.5 168.8,200 275.9,275.5 275.9,233.4 431.2,233.4 "/>
        </svg>
    </div>
    <div class="iapp-back-button-label">Back</div>
</div>
<div class="iapp-button-text">Back to topics</div>

<div class="iapp-video-info">
     <% if (userName != "") { %>
    <h4 class='iapp-video-greeting'><%=userName%>, <%=intro%></h4>
    <%} else { %>
    <h4 class='iapp-video-greeting'><%=intro%></h4>
    <%}%>
    
<% if (isMobile) { %>
    <div class="iapp-video-info-buttons">
        <div class="iapp-video-more-button button "><div class="iapp-button-text">More Videos</div></div>
        <div class="iapp-video-discuss-button button iapp-button-small"><div class="iapp-button-text">Share</div></div>
        <div class="iapp-video-credits-button button iapp-button-small"><div class="iapp-button-text">Credits</div></div>
        <div class="iapp-video-play-button button iapp-button-small"><div class="iapp-button-text">Pause</div></div>
        <div class="iapp-video-replay-button button iapp-button-small"><div class="iapp-button-text">Replay</div></div>
        
        
    </div>

    <% } else {%>
        <h4 class="iapp-video-share-button iapp-clickable">Share this video</h4>
    <% } %>

</div>

<div class="iapp-video-loader">
    <div class="iapp-content-wrap">
        <h2 class="iapp-video-question-loader"><%= questionasked %></h2>
        <div class="loader-img-wrap">
            <img class="loader-img" src="http://www.gannett-cdn.com/experiments/usatoday/2015/04/gay-marriage/img/loader-white.svg" alt="Loading">
        </div>
    </div>
</div>


<% if (!isMobile) { %>
<div class="iapp-video-desktop-controls">
    <ul class="iapp-left-video-nav">
        <li class="iapp-clickable iapp-video-home">Home</li>
        <li class="iapp-clickable iapp-video-back-to-topics">Back to Topics</li>
        <li class="iapp-clickable iapp-video-more-button">All Videos</li>
        <li class="iapp-clickable iapp-comment-button">Comment</li>
        <li class="iapp-clickable iapp-video-credits-button">About This Project</li>
        <li class="iapp-clickable iapp-project-share-button">Share This Project</li>
    </ul>

    <div class="iapp-center-video-controls">
        <div class="iapp-center-video-controls-button-wrap">
            <div class="iapp-center-video-replay-button iapp-video-replay-button button iapp-button-small"><div class="iapp-button-text">

<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 600 400" enable-background="new 0 0 600 400" xml:space="preserve">
<path d="M300.2,74.8l14.6-14.6l-25.5-25.5l-37.8,37.8l-0.1-0.1L225.8,98l63.7,63.7l25.5-25.6l-15-15.3l0,0c43.7,0,79,35.4,79,79.1
	s-35.4,79-79,79s-79-35.4-79-79c0-0.2,0-0.5,0-0.8h-46.2c0,0,0,0.5,0,0.6c0,69.2,56.1,125.4,125.3,125.4s125.2-56,125.2-125.2
	C425.2,131,369.2,75,300.2,74.8z M277,98l0.6-0.6v1.2L277,98z"/>
</svg>

            </div></div>
            <div class="iapp-center-video-play-button button "><div class="iapp-button-text">
                    
                    <svg class="iapp-pause-icon" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 600 400" enable-background="new 0 0 600 400" xml:space="preserve">
                        <g><rect x="211.2" y="75.2" width="71.2" height="250.4"/><rect x="316.8" y="75.2" width="71.2" height="250.4"/></g></svg>
                    
                    <svg class="iapp-play-icon" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 600 400" enable-background="new 0 0 600 400" xml:space="preserve">
                        <polygon points="388.5,200 211.2,325 211.2,75 "/>
                    </svg>

            </div>
        </div>
            <div class="iapp-center-video-next-button button iapp-button-small"><div class="iapp-button-text">
                    
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 600 400" enable-background="new 0 0 600 400" xml:space="preserve">
<polygon points="337.8,148.8 337.6,149 262.9,74.3 212.6,124.6 287.3,199.4 211.9,274.7 262.2,325 388.1,199.2 "/>
</svg>

</div></div>
        </div>
        <div class="iapp-center-video-controls-label-wrap">
            <div class="iapp-center-video-control-label iapp-center-replay-label">Replay</div>
            <div class="iapp-center-video-control-label iapp-center-play-label">Pause</div>
            <div class="iapp-center-video-control-label iapp-center-next-label">Next</div>
        </div>
    </div>

</div>

<% } %>
