.iapp-credits-panel {
    background-color: rgba(255, 255, 255, 0.9);
    color: $dark-grey;
    filter: none;
    padding: 2em;
    z-index: 18;

    .iapp-section-text {
        margin: 1em 0;
        line-height: 1.2;
    }
}

.iapp-credits-close {
    position: absolute;
    right: 1em;
    top: 1em;
    width: 60px;
}

.iapp-project-credit-link {
    color: $dark-grey;
    text-decoration: none;
    transition: color 250ms ease;
    &:hover {
        color: $medium-grey;
    }
    &:visited {
        color: $dark-grey;
    }
}

.iapp-project-credits {
    text-align: center;
}

.iapp-project-credits {
    font-family: "Futura Today Light", Arial, sans-serif;
}
