.iapp-share-panel {
    background-color: rgba(255, 255, 255, 0.9);
    color: $dark-grey;
    filter: none;
    padding: 2em;
    z-index: 18;

    .iapp-content-wrap {
        margin: 1em auto;
        position: static;
        transform: none;
        @media (max-width: 600px) {
            padding: 0 0 1em 0;
        }
    }
}

.iapp-share-close {
    margin: 0 5px;
    position: absolute;
    right: 1em;
    top: 1em;
    width: 60px;
}

.iapp-share-button {
    display: block;
    float: left;
    margin: 1em auto 0 auto;
    width: 60px;
    img {
        display: block;
    }
}

.iapp-share-preview {
    font-family: "Futura Today Light", Arial,sans-serif;
}

.iapp-share-buttons {
    margin: 2em auto;
    width: 210px;
    @extend .group;
}

@media(max-width: 600px) {
    .iapp-share-button {
        margin-top: 0.5em;
    }
    .iapp-share-buttons {
        margin-top: 1em;
    }
}
